.inicioSesion button{
    border-width: 0px;
    width: 120px;
    height: 50px;
}

.buttonGeneral{
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    border: none;
    width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100px;
    color: white;
    background-color: lightblue;
    transition: transform 250ms ease-in;
    &:hover{
        transform: scale(1.1);
    }
}