body{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.inicioSesion{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 150px;
    padding: 5px;
    align-items: center;
    margin: 0 auto;
}

.agregarFacturas{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.card{
    width: 200px;
    height: auto;
    background-color: black;
    color: white;
    margin: 0 auto;
    padding: 5px;
    align-items: center;
    text-align: center;
    margin-top: 5px;
}

#listaFacturas{
    background-color: coral;
    color: white;
    font-size: medium;
}

#totalFacturas{
    border: solid 4px lightblue;
    width: auto;
    padding: 5px;
    font-weight: bolder;
}

.facturas{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: gray;
    color: black;
    text-align: center;
}