body{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.inicioSesion{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 150px;
    padding: 5px;
    align-items: center;
    margin: 0 auto;
}
.agregarFacturas{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.card{
    width: 200px;
    height: 200px;
    background-color: black;
    color: white;
    margin: 0 auto;
    align-items: center;
}

.facturas{
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: gray;
    color: black;
    text-align: center;
}